.ipynb_checkpoints/

stuff/

dataset_preparation.py
dataset_preparation.ipynb
data_scg_2021.zip
adjust_dataset.py
print_len_dataset.py
template_pytorch_sc_2021_completed.ipynb
dataset_sc_2021.zip
review_results.py
create_test_csv.py

train/
val/
test/